*{
    margin: 0;
    padding: 0;
}



.cabeçalho{
    background-color: #538461;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-kerning: 24px;
}